In [1]:
import datetime as dt

date_s = dt.datetime(2024, 11, 16, 0, 0, 0, tzinfo=dt.UTC)
date_e = dt.datetime(2024, 11, 17, 0, 0, 0, tzinfo=dt.UTC)

In [2]:
from urllib import parse

base_url = "https://mesonet.agron.iastate.edu/cgi-bin/request/gis/pireps.py?"
params = {
    "sts": date_s.isoformat().replace("+00:00", "Z"),
    "ets": date_e.isoformat().replace("+00:00", "Z"),
    "artcc": "_ALL",
    "fmt": "csv",
}
url = base_url + parse.urlencode(params)
url

'https://mesonet.agron.iastate.edu/cgi-bin/request/gis/pireps.py?sts=2024-11-16T00%3A00%3A00Z&ets=2024-11-17T00%3A00%3A00Z&artcc=_ALL&fmt=csv'

In [3]:
import pandas as pd

df = pd.read_csv(url)
df

,VALID,URGENT,AIRCRAFT,REPORT,ICING,TURBULENCE,ATRCC,LAT,LON,PRODUCT_ID
0,202411160000,F,B190,SAW UA /OV KSAW/TM 0000/FL036/TP B190/SK OVC03...,NaN,NaN,ZMP,202411160000-KMSC-UBUS01-PIREP,46.353640,-87.395360
1,202411160000,F,B738,CRG UA /OV CRG/TM 0000/FL370/TP B738/TB NEG,NaN,NEG,ZJX,202411160000-KMSC-UBUS01-PIREP,30.336100,-81.514700
2,202411160002,F,EA50,MTJ UA /OV MTJ045010/TM 0002/FL180/TP EA50/TB ...,NaN,MOD 200-180,ZDV,202411160000-KMSC-UBUS01-PIREP,38.622861,-107.746890
3,202411160002,F,PC12,PGA UA /OV TBC080040/TM 0002/FL200/TP PC12/TB ...,NaN,NEG,ZDV,202411160000-KMSC-UBUS01-PIREP,36.235775,-110.457169
4,202411160003,F,B738,ORD UA /OV CGT330020/TM 0003/FL060/TP B738/SK ...,NaN,SMOOTH,ZAU,202411160000-KMSC-UBUS01-PIREP,41.798699,-87.792584
...,...,...,...,...,...,...,...,...,...,...
2466,202411162357,F,C172,PLU UA /OV SEA160016 /TM 2357 /FL040 /TP C172 ...,NEG,NaN,ZSE,202411170000-KMSC-UBUS01-PIREP,47.194085,-122.179500
2467,202411162358,F,B77L,UA /OV 5430N11900W /TM 2358 /FL310 /TP B77L /T...,NaN,MOD,NaN,202411162359-CYEG-UACN10-PIREP,54.500000,-119.000000
2468,202411162358,F,A333,MKK UA /OV BAMBO/TM 2358/FL130/TP A333/SK TOPS...,NaN,NaN,ZLC,202411170000-KMSC-UBUS01-PIREP,40.599000,-116.874300
2469,202411162359,F,B738,CID UA /OV CID/TM 2359/FL300/TP B738/TB CONS L...,NaN,CONS LGT CHOP,ZAU,202411170000-KMSC-UBUS01-PIREP,41.882899,-91.724588
2470,202411162359,F,B737,ANI UA /OV ANI/TM 2359/FL065/TP B737/SK TOP065...,LGT RIME,NEG,ZAN,202411170000-KMSC-UBUS01-PIREP,61.580000,-159.540000

In [4]:
df = df[["VALID", "REPORT", "LON", "PRODUCT_ID"]]
df = df.rename(columns={"VALID": "Timestamp", "REPORT": "Report", "LON" : "Lat", "PRODUCT_ID" : "Lon"}) # account for seemingly wrong columns in csv
df["Timestamp"] = pd.to_datetime(df["Timestamp"], format=f"%Y%m%d%H%M")
df

,Timestamp,Report,Lat,Lon
0,2024-11-16 00:00:00,SAW UA /OV KSAW/TM 0000/FL036/TP B190/SK OVC03...,46.353640,-87.395360
1,2024-11-16 00:00:00,CRG UA /OV CRG/TM 0000/FL370/TP B738/TB NEG,30.336100,-81.514700
2,2024-11-16 00:02:00,MTJ UA /OV MTJ045010/TM 0002/FL180/TP EA50/TB ...,38.622861,-107.746890
3,2024-11-16 00:02:00,PGA UA /OV TBC080040/TM 0002/FL200/TP PC12/TB ...,36.235775,-110.457169
4,2024-11-16 00:03:00,ORD UA /OV CGT330020/TM 0003/FL060/TP B738/SK ...,41.798699,-87.792584
...,...,...,...,...
2466,2024-11-16 23:57:00,PLU UA /OV SEA160016 /TM 2357 /FL040 /TP C172 ...,47.194085,-122.179500
2467,2024-11-16 23:58:00,UA /OV 5430N11900W /TM 2358 /FL310 /TP B77L /T...,54.500000,-119.000000
2468,2024-11-16 23:58:00,MKK UA /OV BAMBO/TM 2358/FL130/TP A333/SK TOPS...,40.599000,-116.874300
2469,2024-11-16 23:59:00,CID UA /OV CID/TM 2359/FL300/TP B738/TB CONS L...,41.882899,-91.724588
2470,2024-11-16 23:59:00,ANI UA /OV ANI/TM 2359/FL065/TP B737/SK TOP065...,61.580000,-159.540000

In [ ]:
from defs.report import PilotReport, Location

def parse_pirep(row):
    try:
        report = PilotReport.parse(row["Report"], timestamp=row["Timestamp"])
        row["Priority"] = report.priority
        row["Location"] = Location(lat=row["Lat"], lon=row["Lon"])
        row["Altitude"] = report.altitude
        row["Aircraft"] = report.aircraft
        row["Turbulence"] = report.turbulence
        return row
    except:
        return row

In [ ]:
transformed = df.apply(parse_pirep, axis=1)
transformed = transformed.drop(columns=["Lat", "Lon"])
transformed

,Aircraft,Altitude,Lat,Lon,Priority,Report,Timestamp,Turbulence
0,M,err=None min=3600 max=3600,46.353640,-87.395360,UA,SAW UA /OV KSAW/TM 0000/FL036/TP B190/SK OVC03...,2024-11-16 00:00:00,[]
1,M,err=None min=37000 max=37000,30.336100,-81.514700,UA,CRG UA /OV CRG/TM 0000/FL370/TP B738/TB NEG,2024-11-16 00:00:00,[duration=None intensity=<Intensity.NEG: 'NEG'...
2,L,err=None min=18000 max=18000,38.622861,-107.746890,UA,MTJ UA /OV MTJ045010/TM 0002/FL180/TP EA50/TB ...,2024-11-16 00:02:00,[duration=None intensity=<Intensity.MOD: 'MOD'...
3,L,err=None min=20000 max=20000,36.235775,-110.457169,UA,PGA UA /OV TBC080040/TM 0002/FL200/TP PC12/TB ...,2024-11-16 00:02:00,[duration=None intensity=<Intensity.NEG: 'NEG'...
4,M,err=None min=6000 max=6000,41.798699,-87.792584,UA,ORD UA /OV CGT330020/TM 0003/FL060/TP B738/SK ...,2024-11-16 00:03:00,[]
...,...,...,...,...,...,...,...,...
2466,L,err=None min=4000 max=4000,47.194085,-122.179500,UA,PLU UA /OV SEA160016 /TM 2357 /FL040 /TP C172 ...,2024-11-16 23:57:00,[]
2467,H,err=None min=31000 max=31000,54.500000,-119.000000,UA,UA /OV 5430N11900W /TM 2358 /FL310 /TP B77L /T...,2024-11-16 23:58:00,[duration=None intensity=<Intensity.MOD: 'MOD'...
2468,H,err=None min=13000 max=13000,40.599000,-116.874300,UA,MKK UA /OV BAMBO/TM 2358/FL130/TP A333/SK TOPS...,2024-11-16 23:58:00,[]
2469,M,err=None min=30000 max=30000,41.882899,-91.724588,UA,CID UA /OV CID/TM 2359/FL300/TP B738/TB CONS L...,2024-11-16 23:59:00,[duration=<Duration.CON: 'CONS'> intensity=<In...
2470,M,err=None min=6500 max=6500,61.580000,-159.540000,UA,ANI UA /OV ANI/TM 2359/FL065/TP B737/SK TOP065...,2024-11-16 23:59:00,[duration=None intensity=<Intensity.NEG: 'NEG'...