In [1]:
import datetime as dt
import pandas as pd
import pirep as pr

In [2]:
# Retrieve PIREPs
raw_reports = pr.fetch(
    pr.url(
        date_s=dt.datetime(2024, 11, 16, 0, 0, 0, tzinfo=dt.UTC),
        date_e=dt.datetime(2024, 11, 17, 0, 0, 0, tzinfo=dt.UTC),
    )
)
raw_reports

,Timestamp,Report,Lat,Lon
0,2024-11-16 00:00:00,SAW UA /OV KSAW/TM 0000/FL036/TP B190/SK OVC03...,46.353640,-87.395360
1,2024-11-16 00:00:00,CRG UA /OV CRG/TM 0000/FL370/TP B738/TB NEG,30.336100,-81.514700
2,2024-11-16 00:02:00,MTJ UA /OV MTJ045010/TM 0002/FL180/TP EA50/TB ...,38.622861,-107.746890
3,2024-11-16 00:02:00,PGA UA /OV TBC080040/TM 0002/FL200/TP PC12/TB ...,36.235775,-110.457169
4,2024-11-16 00:03:00,ORD UA /OV CGT330020/TM 0003/FL060/TP B738/SK ...,41.798699,-87.792584
...,...,...,...,...
2466,2024-11-16 23:57:00,PLU UA /OV SEA160016 /TM 2357 /FL040 /TP C172 ...,47.194085,-122.179500
2467,2024-11-16 23:58:00,UA /OV 5430N11900W /TM 2358 /FL310 /TP B77L /T...,54.500000,-119.000000
2468,2024-11-16 23:58:00,MKK UA /OV BAMBO/TM 2358/FL130/TP A333/SK TOPS...,40.599000,-116.874300
2469,2024-11-16 23:59:00,CID UA /OV CID/TM 2359/FL300/TP B738/TB CONS L...,41.882899,-91.724588
2470,2024-11-16 23:59:00,ANI UA /OV ANI/TM 2359/FL065/TP B737/SK TOP065...,61.580000,-159.540000

In [3]:
# Retrieve PIREPs
reports = pr.parse_all(raw_reports)
reports

,Aircraft,Altitude,Location,Priority,Report,Timestamp,Turbulence
0,M,err=None min=3600 max=3600,lat=46.35364 lon=-87.39536,UA,SAW UA /OV KSAW/TM 0000/FL036/TP B190/SK OVC03...,2024-11-16 00:00:00,NaN
1,M,err=None min=37000 max=37000,lat=30.3361 lon=-81.5147,UA,CRG UA /OV CRG/TM 0000/FL370/TP B738/TB NEG,2024-11-16 00:00:00,duration=None intensity=<Intensity.NEG: 'NEG'>...
2,L,err=None min=18000 max=18000,lat=38.62286067614885 lon=-107.7468896882902,UA,MTJ UA /OV MTJ045010/TM 0002/FL180/TP EA50/TB ...,2024-11-16 00:02:00,duration=None intensity=<Intensity.MOD: 'MOD'>...
3,L,err=None min=20000 max=20000,lat=36.23577482878892 lon=-110.45716940857169,UA,PGA UA /OV TBC080040/TM 0002/FL200/TP PC12/TB ...,2024-11-16 00:02:00,duration=None intensity=<Intensity.NEG: 'NEG'>...
4,M,err=None min=6000 max=6000,lat=41.798698517304096 lon=-87.79258446830217,UA,ORD UA /OV CGT330020/TM 0003/FL060/TP B738/SK ...,2024-11-16 00:03:00,NaN
...,...,...,...,...,...,...,...
2466,L,err=None min=4000 max=4000,lat=47.194085003742856 lon=-122.17950005902264,UA,PLU UA /OV SEA160016 /TM 2357 /FL040 /TP C172 ...,2024-11-16 23:57:00,NaN
2467,H,err=None min=31000 max=31000,lat=54.5 lon=-119.0,UA,UA /OV 5430N11900W /TM 2358 /FL310 /TP B77L /T...,2024-11-16 23:58:00,duration=None intensity=<Intensity.MOD: 'MOD'>...
2468,H,err=None min=13000 max=13000,lat=40.599 lon=-116.8743,UA,MKK UA /OV BAMBO/TM 2358/FL130/TP A333/SK TOPS...,2024-11-16 23:58:00,NaN
2469,M,err=None min=30000 max=30000,lat=41.882899 lon=-91.724588,UA,CID UA /OV CID/TM 2359/FL300/TP B738/TB CONS L...,2024-11-16 23:59:00,duration=<Duration.CON: 'CONS'> intensity=<Int...
2470,M,err=None min=6500 max=6500,lat=61.58 lon=-159.54,UA,ANI UA /OV ANI/TM 2359/FL065/TP B737/SK TOP065...,2024-11-16 23:59:00,duration=None intensity=<Intensity.NEG: 'NEG'>...

In [4]:
# Convert reports to grids
grids = pd.DataFrame(
    {
        "Timestamp": reports["Timestamp"],
        "Grid": reports.apply(pr.compute_grid, axis=1),
    }
)
grids

               Timestamp                                               Grid
0    2024-11-16 00:00:00  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
1    2024-11-16 00:00:00  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
2    2024-11-16 00:02:00  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
3    2024-11-16 00:02:00  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
4    2024-11-16 00:03:00  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
...                  ...                                                ...
2466 2024-11-16 23:57:00  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
2467 2024-11-16 23:58:00  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
2468 2024-11-16 23:58:00  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
2469 2024-11-16 23:59:00  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
2470 2024-11-16 23:59:00  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...

[2472 rows x 2 columns]